body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
 
  font-size: 100%;

}

.container {
	width: 100vw;
	margin: 0 auto;

}

.parallax {
	background: url(img/4.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}


#sl {
	padding: 8px;
	font-size: 1.6rem;
	padding-left: 20px;
	transition: .5s;

}

#sl:hover {
	transform: scale(1.1);
	transition: .5s;
}


.w3-bar .w3-button {
  padding: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.überschrift {
	padding-top: 10vh;
	text-align: center;
	z-index: 100;
}

.überschrift h2 {
	font-size: 3.2rem;
}

.überschrift p {
	font-size: 1.3rem;
}


.sec {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: flex-start;
	
	grid-gap: 4rem;
	padding-top: 4%;
	font-size: 1.3rem;
	padding-top: 4%;
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
}

.column {
	width: 100%;
	position: relative;
	display: flex;
	transition: .5s;
}


.column2 {
	width: 100%;
	position: relative;
	display: flex;
}

#imp {
	position: fixed;
	width: 100vw;
}

	
.text
{
width: 70%;
padding-top: 0%;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-top: 2%;
}

.facts {
	text-align: left;
	width: 100%;
}

.facts h3, .free h3, .person h3, .vita h3, .skills h3, .text h3{
	color: #0431B4;
	font-size: 1.8rem;
}

.facts p, .free p, .person p, .text p .vita p, .skills p{
	font-size: 1.2rem;
}



.strich {
	background-color: #0431B4;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	height: 0.5vh;
	margin-top: 8vh;
	margin-bottom: 2vh;
}

.strich2 {
	background-color: #0431B4;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	height: 0.5vh;
	margin-top: 10vh;
	margin-bottom: 2vh;
}


.üb {
	color: #0431B4;
	font-size: 1.8rem;
	padding-top: 3%;
	text-align: center;
}

.tt {
	font-size: 1.2rem;
	margin-bottom: 10%
}

.Try{
	display: block;
	background: transparent;
	padding: 0.8rem 1.8rem;
	margin-top: 2rem;
	margin-bottom: 8%;
	cursor: pointer;
	transition: .2s;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: solid #0431B4 2px;

}

.Try a {
color: #0431B4;
}

.Try:hover a {
color: white;
}

.Try:hover {
	background: #0431B4;
	transform: scale(1.1);
	transition: .2s;
	border: none;
}

/*-----------------------------*/


/*-----------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	color: #333;
	text-decoration: none;
}


/*-----------------------------*/


.slowup {

   transition: opacity 2s 0.5s;
   opacity: 0;
    position: absolute;
}

#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  transition: .4s;
}

#button:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: .4s;
}

#button:active {
  background-color: #555;
}

#button img {
	width: 100%;

}


.slowup img {
	width: 100%;
}



.ipad {
	display: none;
}

.groß {
	padding-left: auto;
	padding-right: auto;
	position: relative;
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.footer {
	bottom: 0;
	padding-top: 1%;
	padding-bottom: 2%;
	width: 100%;
	background-color: #0431B4;
}

#ll {
	padding-top: 1%;
	font-size: 0.9rem;
	color: white;
}

/*-----------------------------------------------------------------------------------------*/

@media screen and (max-width: 990px) and (max-height: 999px) {


.container2 {
		grid-template-columns: repeat(3, 1fr);
		padding: 1rem 20px;
}

}

/*-----------------------------*/

@media screen and (min-height: 1000px) and (max-width: 800px){


.card img {
	width: 90%;
	overflow: hidden;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container {
	width: 100%;
	margin: 0;
	height: 100vh;

}

.parallax {
	background: url(img/ipad.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}


.strich {
	width: 60%;
	height: 0.3vh;
	margin-top: 5vh;
	margin-bottom: 2vh;
}

.person {
	margin-top: -8%;
}

.überschrift {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.überschrift h2 {
	font-size: 55px;
	padding-top: 8%;
	line-height: 1.5;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.überschrift p {
	padding-top: 5%;
	font-size: 23px;
}


.facts h3, .free h3, .person h3, .vita h3, .skills h3, .text h3{
	font-size: 34px;
}

.facts p, .free p, .person p, .text p .vita p, .skills p, .tt{
	font-size: 20px;
	line-height: 1.5;
}

.groß {
	padding-top: 20%;
	padding-bottom: 15%;
	transform: scale(1.5);
}

.Try {
	width: 60%;
	margin-bottom: 20%;
	margin-top: 20%;
}

.text {
	width: 90%;
}

}


/*-----------------------------*/

@media screen and (max-width:650px) {

.überschrift h2 {
	font-size: 38px;
	padding-top: 8%;
	line-height: 1.5;
}

.facts h3, .free h3, .person h3, .vita h3, .skills h3, .text h3{
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.facts p, .free p, .person p, .text p .vita p, .skills p, .tt{
	font-size: 17px;
	line-height: 1.5;
	padding-top: 2%;
}

.person {
	margin-top: -15%;
}

.überschrift p {
	font-size: 18px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	line-height: 1.5;
	padding-top: 0%;
}

.strich {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	height: 0.3vh;
	margin-top: 6%;
	margin-bottom: 7%;
}

.strich2 {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	height: 0.3vh;
	margin-top: 15%;
	margin-bottom: 8%;
}

.text {
	padding-top: 10%;
	width: 100%;
}


.üb {
	font-size: 1.5rem;
}

.container {
	width: 100%;
	margin: 0 auto;

}

.parallax {
	background: url(img/mobile.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}


#button {
	display: none;
}

.Try {
	width: 60%;
	margin-bottom: 30%;
	margin-top: 45%;
}

.groß {
	padding-top: 20%;
	transform: scale(1.5);
}
	
	.überschrift {
	padding-top: 3vh;
	text-align: center;
	z-index: 100;
}

}

/*-----------------------------*/

@media screen and (max-width: 800px) {
	.sec {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 400px) {


#ll {
	padding-top: 6%;
	font-size: 0.7rem;
}

}

@media screen and (min-width: 1700px) {
	.facts h3, .free h3, .person h3, .vita h3, .skills h3, .text h3{
	font-size: 2.2rem;
}

.facts p, .free p, .person p, .text p .vita p, .skills p{
	font-size: 1.3rem;
}

.tt {
	font-size: 1.3rem;
}

.container2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60%;
	padding: 20px;
	column-count: 3;
	column-gap: 20px;
	column-width: 13.33333%;
	margin-top: 10%;
	margin-bottom: 5%;

}

.strich2 {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	height: 0.3vh;
	margin-top: 15vh;
	margin-bottom: 5vh;
}

.überschrift h2 {
	font-size: 4.5rem;
	padding-top: 4%;
}

.überschrift p {
	font-size: 1.4rem;
	padding-top: 1%;
}

}

@media screen and (max-width: 870px) and (max-height: 500px) {


.überschrift h2 {
	font-size: 2.8rem;
	padding-top: 8%;
	}
	
.überschrift p {
	font-size: 1.2rem;
	}	
	
.strich {
	margin-top: 10vh;
	margin-bottom: 0vh;
}

.wrapper {
	margin-top: 0%;
	height: auto;
}

.inner {
	height: auto;
}

	.container {
		grid-template-columns: 1fr;
		padding: 2rem 50px;
		height: auto;
	}

	.container_2 {
		grid-template-columns: 1fr;
		padding: 2rem 50px;
}

.main-header {
	padding-bottom: 20%;
}

.last {
	height: auto;
	margin-top: -10%;
}

.parallax {
	background: url(img/4.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
	
	#button {
	display: none;
}

}
